@import url(css/header.css);
@import url(css/cadastro.css);
@import url(css/cadastrados.css);
@import url(css/tabelaCadastros.css);
@import url(css/modalCadastro.css);
@import url(css/footer.css);

:root{
    --branco: #f2f0f0;
    --roxo: #161b66;
    --cinza-claro: #707070;
    --cinza-escuro: #272727;
    --preto: #0e0e0e;
    --preto-transparente: #00000066;
    --azul: #1a3689;
}

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'REM', sans-serif;
}

body{
    background-color: var(--cinza-escuro);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}