/* global */

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'REM', sans-serif;
}

:root{
    --branco: #f2f0f0;
    --roxo: #161b66;
    --cinza-claro: #707070;
    --cinza-escuro: #272727;
    --preto: #0e0e0e;
    --preto-transparente: #00000066;
    --azul: #1a3689;
}


/* header */

header{
    background-color: var(--roxo);
    color: var(--branco);
    padding: 16px;
    border-bottom: 2px solid var(--preto);
    height: 10vh;
    display: flex;
    justify-content: center;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* main */

main{
    display: flex;
}

/* main left */

.left {
    background-color: var(--cinza-escuro);
    color: var(--branco);
    border-right: 1px solid;
    border-image: linear-gradient(#1a3689, #1344a0 ) 1;
    width: 50vw;
    height: 90vh;
}

.card-left{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 24px;
}

.card-descricao-sistema{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.titulo-sistema{
    font-size: 4em;
}

.descricao-sistema{
    text-align: center;
    font-size: 2em;
    line-height: 1.5;
}

.botao-cadastrar{
    background-color: var(--roxo);
    padding: 32px;
    font-size: 2em;
    color: var(--branco);
    border-radius: 16px;
    border: 2px solid var(--preto);
}

.botao-cadastrar:hover{
    background-color: var(--azul);
    transition: .5s;
}

/* main right */

.right{
    background-color: var(--cinza-escuro);
    color: var(--branco);
    width: 50vw;
    height: 90vh;
}

.card-right{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 24px;
}

.card-historico-cadastros{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.titulo-historico-cadastros{
    font-size: 4em;
}

/* tabela */

table{
    width: 100%;
}

th{
    padding: 24px;
    text-align: center;
    border: 1px solid var(--preto);
    background-color: var(--roxo);
}

tr{
    background-color: var(--branco);
}

td{
    padding: 24px;
    text-align: center;
    border: 1px solid var(--preto);
    color: var(--preto);
}

tr:nth-child(odd) {
    background-color: var(--cinza-claro);
  }

/* modal de cadastro */

.modal {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--preto-transparente);
    font-size: 32px;
 }

 .alinha-modal-conteudo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .modal-conteudo {
    background-color: var(--roxo);
    border: 1px solid var(--preto);
    padding: 24px;
    border-radius: 16px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 16px;
    color: var(--branco);
  }

  /* form de cadastro */

  .form-cadastro{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .campo-cadastro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  .input-cadastro{
    border: 2px solid var(--cinza-escuro);
    background-color: var(--branco);
    border-radius: 16px;
    font-size: 28px;
    padding: 8px;
    outline: none;
  }

  .input-cadastro:focus{
    border: 2px solid var(--branco);
  }

  .campo-botoes{
    display: flex;
    gap: 16px;
    justify-content: center;
  }

  .botao-cadastro-modal, .botao-fechar-modal{
    font-size: 24px;
    padding: 16px;
    border-radius: 16px;
    background-color: var(--cinza-escuro);
    color: var(--branco);
    border: none;
  }

  .botao-cadastro-modal:focus, .botao-fechar-modal:focus{
    border: 2px solid var(--azul);
    outline: 0;
  }

.botao-cadastro-modal:hover, .botao-fechar-modal:hover{
    background-color: var(--cinza-claro);
    transition: .5s;
}