/* global */

*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'REM', sans-serif;
}

:root{
    --textColor: #f2f0f0;
    --backgroundHeader: #161b66;
    --backgroundColorInput: #424242;
    --backgroundColor: #272727;
    --textColorDark: #0e0e0e;
}


/* header */

header{
    background-color: var(--backgroundHeader);
    color: var(--textColor);
    padding: 16px;
    border-bottom: 2px solid #000;
    height: 10vh;
    display: flex;
    justify-content: center;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* main */

main{
    display: flex;
}

/* main left */

.left {
    background-color: var(--backgroundColor);
    color: var(--textColor);
    border-right: 1px solid;
    border-image: linear-gradient(#1a3689, #1344a0 ) 1;
    width: 50vw;
    height: 90vh;
}

.card-left{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 24px;
}

.card-descricao-sistema{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.titulo-sistema{
    font-size: 4em;
}

.descricao-sistema{
    text-align: center;
    font-size: 2em;
    line-height: 1.5    ;
}

.botao-cadastrar{
    background-color: var(--backgroundHeader);
    padding: 32px;
    font-size: 2em;
    color: var(--textColor);
    border-radius: 16px;
    border: 2px solid #000;
}

/* main right */

.right{
    background-color: var(--backgroundColor);
    color: var(--textColor);
    width: 50vw;
    height: 90vh;
}

.card-right{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 24px;
}

.card-historico-cadastros{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.titulo-historico-cadastros{
    font-size: 4em;
}

/* tabela */

th{
    padding: 24px;
    text-align: center;
    border: 1px solid #000;
    background-color: var(--backgroundHeader);
}

td{
    padding: 24px;
    text-align: center;
    border: 1px solid #000;
    background-color: var(--textColor);
    color: var(--textColorDark);
}

tr:nth-child(even) {
    background-color: #ce1616;
  }

/* modal de cadastro */

.modal {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #00000066;
    font-size: 32px;
 }

 .alinha-modal-conteudo{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .modal-conteudo {
    background-color: var(--backgroundHeader);
    border: 1px solid #000;
    padding: 24px;
    border-radius: 16px;
    display: flex;
    align-items: end;
    justify-content: space-between;
    gap: 16px;
    color: var(--textColor);
  }

  /* form de cadastro */

  .form-cadastro{
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .campo-cadastro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
  }

  .input-cadastro{
    border: 2px solid var(--backgroundColor);
    background-color: var(--textColor);
    border-radius: 16px;
    font-size: 28px;
    padding: 8px;
    outline: none;
  }

  .input-cadastro:focus{
    border: 2px solid var(--textColor);
  }

  .campo-botoes{
    display: flex;
    gap: 16px;
    justify-content: center;
  }

  .botao-cadastro-modal, .botao-fechar-modal{
    font-size: 24px;
    padding: 16px;
    border-radius: 16px;
    background-color: var(--backgroundColor);
    color: var(--textColor);
    border: none;
  }

  .botao-cadastro-modal:focus, .botao-fechar-modal:focus{
    border: 2px solid #1a3689;
    outline: 0;
  }

.botao-cadastro-modal:hover, .botao-fechar-modal:hover{
    background-color: var(--backgroundColorInput);
    transition: .5s;
}